.pin {
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.pin-title {
      margin-bottom: 50px;
}

.pin-div {
  margin-bottom: 1em;
}

#new_pin {
  .btn-default {
    outline: none;
  }
  .btn-success {
    outline: none;
  }
}
.pin-list{
   display: flex;
  vertical-align: middle;
  margin-top: 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 10px 0;
  margin: 20px;
}

.pin_it {
  margin-left: auto;
}

.pin-button {
    color: #fff;
    background-color: #2cd5c4
}

.dash_name {
  width: 100px;
}

.pin-it-btn {
  margin: 3px;
}

.flexbox {
  display: flex;
}

.ad_to_pin {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);
  // margin-bottom: 20px;
  padding: 10px;
}

.separator {
  margin-bottom: 20px;
}

.table_dashboard {
  margin-bottom: 5px;
}

.ad-to-pin-hover:hover {
    background-color: #F6F6F6;
}
