.pin {
    background-color: #D9D9D9;
    radius: 30%;
    border-radius: 3%;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dash_name {
  width: 100px;
}

.pin-it-btn {
  margin: 3px;
}

.flexbox {
  display: flex;
}
