<div  class="banner" id="h">
     <div class="container">
       <div class="row">
         <div class="col-md-8 col-md-offset-2 centered">
           <h1>Get ahead of your competitors</h1>
           <h4>Automatically monitor your competitors' webpages. No more manual checking.</h4>
<!--            <h1>Welcome to Benchy<br/>Sign up now & prepare to enjoy our service. track your competitor's site updates</h1> -->

           <div class="mtb">
             <%# render 'devise/registration/new' %>


<div class="text-center">
               <%= link_to "Start your free trial", new_user_registration_path, method: "get", class:'btn btn-conf btn-green'%>
              </div>

           </div><!--/mt -->
           <!-- <h6>30 DAY FREE TRIAL - NO CREDIT CARD NEEDED.</h6> -->
         </div>
       </div><!--/row-->
     </div><!--/container-->
   </div><!-- /H -->









