  <div id="h">
      <div class="logo">Benchy App</div>

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 centered">
            <h1>Welcome to Benchy<br/>Sign up now & prepare to enjoy our service.</h1>
            <div class="mtb">
              <form role="form" action="register.php" method="post" enctype="plain">
                <input type="email" name="email" class="subscribe-input" placeholder="Enter your e-mail address..." required>
                <button class='btn btn-conf btn-green' type="submit">Start your free trial</button>
              </form>
            </div><!--/mt-->
            <h6>30 DAY FREE TRIAL - NO CREDIT CARD NEEDED.</h6>
          </div>
        </div><!--/row-->
      </div><!--/container-->
    </div><!-- /H -->
