
    <div id="f">
      <div class="container">
        <div class="row text-center">
          <h5>Contact us at:</h5>
          <h5>contact@benchy-app.com</h5>
<!--             <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%# image_tag "logo.png" %>
                <% end %> -->
          <h6>Copyrigth 2016 - Benchy-app</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->
