    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>You Can Contact Us</h2>
          <h5>HELLO@BENCHY-APP.COM</h5>
          <h6 class="mt">COPYRIGHT 2016 - BENCHY - APP</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->
