    <div id="f">
      <div class="container">
        <div class="row centered">
          <h2>You Can Contact Us</h2>
          <h5>HELLO@BENCHY-APP.COM</h5>
            <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%# image_tag "logo.png" %>
  <% end %>
          <h6 class="mt">COPYRIGHT 2016 - BENCHY - APP</h6>
        </div><!--/row-->
      </div><!--/container-->
    </div><!--/F-->
