  <div class="wrapper about-wrapper">
    <div id="sep">
      <div class="container">
        <div class="row centered">
          <div class="col-md-8 col-md-offset-2">
            <h1>Join your experiences with the people you care more. Let us help you.</h1>
            <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h4>
            <p><button class="btn btn-conf-2 btn-green">Learn More</button></p>
          </div><!--/col-md-8-->
        </div>
      </div>
    </div><!--/sep-->
</div>
