<div class="wrapper description-wrapper">
<div class="container ptb" class="description">
      <div class="row">
        <div class="col-md-6">
          <h2>What's is Benchy ?</h2>
          <p class="mt">Benchy is a new kind of competiton monitoring tools. Just add your competitors' names and wesbites and we will generate dashboards based on their promotions.
          You can then reorganize the content in dashboards you create.</p>
        </div>
        <div class="col-md-6">
          <h2></h2>
          <div id="benchmark" class="text-center">
            <class class="mt">
          <%=image_tag("benchmark.png", alt: "Example Image")%>
          </class>
          </div>
        </div>
      </div><!--/row-->
    </div><!--/container-->
</div>
