 <div class="container ptb">
      <div class="row centered">
        <h2 class="mb">Our Pricing Model<br/>It's Quite Easy To Understand.</h2>
        <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Start Up
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>2 Competitors</li>
                  <li>2 Dashboards</li>
                  <li>Free support</li>
                  <li>1 User</li>
                </ul>
                <div class="price">
                  <span class="detail">Free</span>
                </div><!--/price-->
                <button class="btn btn-conf-2 btn-green">Subscribe Now</button>
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->

         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Business
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>10 Competitors</li>
                  <li>10 Dashboards</li>
                  <li>Free Support</li>
                  <li>5 Users</li>
                </ul>
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">49</span>
                  <span class="sub">/mo.</span>
                </div><!--/price-->
                <button class="btn btn-conf-2 btn-green">Subscribe Now</button>
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->

         <div class="col-md-4">
          <div class="price-table">
              <div class="p-head">
                Corporate
              </div>
              <div class="p-body">
                <ul class="features">
                  <li>30 Competitors</li>
                  <li>Unlimited Dashboards</li>
                  <li>Free Support</li>
                  <li>20 Users</li>
                </ul>
                <div class="price">
                  <span class="sub">$</span>
                  <span class="detail">89</span>
                  <span class="sub">/mo.</span>
                </div><!--/price-->
                <button class="btn btn-conf-2 btn-green">Subscribe Now</button>
              </div><!--/p-body-->
          </div><!--/price-table-->
        </div><!--/col-md-4-->
      </div><!--/row-->
    </div><!--/container-->
