/* HEADER SECTION */
.banner {
background-image: image-url('header-3.jpg');
  background-size: cover !important;
  background-color: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
align-items: center;
  justify-content: center;
}


#h {
  padding-top: 180px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  color: white;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#h .logo {
  top: 30px;
  left: 45px;
  font-size: 18px;
  font-weight: 900;
  position:absolute;
}

#h .social {
  top: 30px;
  right: 45px;
  font-size: 20px;
  position: absolute;
}

#h .social i {
  margin-left: 20px;
}

#h .social a {
  color: white;
}

#h h1 {
  font-weight: 700;
  color: white;
  font-size: 40px;
}

/* Store Links */
.store img {
  margin-right: 10px;
  margin-top: 20px;
}
