// Your footer style
/* FOOTER */
#f {
  background: #2f2f2f;
  color: white;
  margin-top: 20px;
}



#f h5 {
  margin-top: 5px;
  letter-spacing: 1px;
}

#f i {
  font-size: 45px;
  margin: 15px;
}

#f a {
  color: #b9b9b9;
}

#f a:hover {
  color: #03C9A9;
}
