<div class="page-wrapper">
  <div class="page-container">
    <div class="container" >
      <div class="row" id="add_competitor">
        <div class="col-xs-8 col-xs-offset-2">
          <%= simple_form_for (@follow) do |f| %>
            <%= f.error_notification %>
             <%= f.input :competitor_id, collection: Competitor.all, label: "Select a competitor" %>
            <%= f.button :submit, class: "btn btn-conf btn-green aligncenter", label: "Save" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
