<div class="page-wrapper">
  <div class="page-container">
    <div class="container" >
      <div class="row" id="add_competitor">
        <div class="col-xs-8 col-xs-offset-2">
          <h1 class="centered"> Follow a new competitor </h1>
          <%= render 'form_create_follows' %>
        </div>
      </div>
    </div>
  </div>
</div>
