.btn-conf {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 18px 28px 17px 28px;
  }

.btn-conf-2 {
  border-radius: 50px;
  margin-right: 15px;
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 12px 28px 11px 28px;
  margin-top: 20px;
  }

.btn-green {
  background: #03C9A9;
  color: white
}

.btn-download {
  background: #FDE3A7;
}
