.feed-container {
  margin-top: 20px;
}

.feed-container .ad-card {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(100,100, 100, 0.2);
  width: 275px;
  height: 200px;
  margin: 20px;
  background-color: white;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  button {
    border: none;
    background-color: white;
  }
  .image-div {
    margin-left: 12.5px;
    border-bottom: 0.5px dashed rgb(230, 230, 230);
  }
  .elements-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 275px;
  }
  .text-div {
    text-align: left;
    width: 137px;
    height: 50px;
    p {
      font-size: 12px;
      line-height: 1px;
    }
    h5 {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .pin-btn {
    background-color: red;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    transition: color 0.1s ease-in-out;
    &:hover {
      color: grey;
    }
  }
}


.feed-container .ad-card-modal {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 20px;
  margin-top: 100px;
  width: 850px;
  height: 400px;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(100,100, 100, 0.2);
  .image-div {
    border-bottom: 0.5px dashed rgb(230, 230, 230);
  }
  .elements-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  width: 850px;
  }
  .text-div {
    text-align: left;
    width: 425px;
    height: 100px;
    p {
      font-size: 12px;
      line-height: 1px;
    }
    h5 {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .pin-btn {
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    transition: all 0.1s ease-in-out;
    border: none;
    &:hover {
      color: grey;
      transform: scale(1.05);
    }
  }
}

.competitor-container {
 margin-top: 2em;
}



.competitor-card {
  height: 3em;
  background-color: white;
  position: relative;
  margin-top: 1em;
  border-radius: 5px;
  display: flex-inline;
}


.dashboard-card {
  background-color: white;
  position: relative;
  margin-top: 1.5em;
  border-radius: 5px;
  display: flex-inline;
  transition: all 0.1s ease-in-out;
  padding-top: 2em;
  box-shadow: 1px 1px 2px rgba(100, 100, 100, 0.2);

  .dashboard-icons {
    padding-right: 1em;
    padding-bottom: 1em;
  }

  .elements-div {
    background-color: white;
        border-radius: 5px;
  }
  &:hover {
    transform: scale(1.05);
  }
}
.dashboard-container {
  height: 5em;
  background-color: white;
  position: relative;
  margin-top: 2em;
  border-radius: 5px;
  display: flex;
}



// SECOND VERSION OF TIMELINE


.timeline-container .ad-card {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(100,100, 100, 0.2);
  width: 500px;
  height: 300px;
  background-color: white;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
  .image-div {
    margin-left: 10px;
    border-bottom: 0.5px dashed rgb(230, 230, 230);
  }
  .elements-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 450px;
    background-color: white;
  }
  .text-div {
    text-align: left;
    width: 250px;
    height: 90px;
    background-color: white;
    p {
      font-size: 12px;
      line-height: 1px;
    }
    h5 {
      font-weight: bold;
      font-size: 14px;
    }
  }
  .unpin-btn-placeholder {
    width: 35px;
    height: 35px;
  }
  .unpin-btn {
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: white;
    transition: all 0.1s ease-in-out;
    &:hover {
      color: grey;
      transform: scale(1.05);
    }
  }
}


