
.feed-container .elements-div {
  display: flex;
  justify-content: space-around;
}

.feed-container button {
  border: none;
  background-color: white;
}

.feed-container .ad-card {
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  width: 275px;
}

.competitor-card {
  height: 5em;
  background-color: white;
  position: relative;
  margin-top: 2em;
  border-radius: 5px;
  display: flex;
}
