/* Pricing Tables */
.price-table {
  border: 2px solid #5a5a5a;
  border-radius: 25px;
  padding-top: 15px;
  padding-bottom: 25px;
  margin: 5px;
  background-color: white;
}

.price-table .p-head {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 80px;
  border-bottom: 2px solid #ccc;
}

.price-table .p-body .features li {
  color: #333333;
  border-bottom: 1px solid #ccc;
  padding: 12px 0px;
  margin: 0;
  letter-spacing: 1px;
}


.p-body .price .detail {
  font-weight: 700;
  font-size: 45px;
  margin-left: 10px;
  margin-right: 10px;
}

.p-body .price .sub {
  font-size: 18px;
  color: #ccc;
  position: relative;
  bottom: 10px;
  font-weight: 700;
}

#profile_table {
  margin-top: 2em;

}

ul {
  list-style-type: none;
}
