/* GREEN SECTION - TESTIMONIAL */

#green {
  padding-top: 90px;
  padding-bottom: 60px;
  min-height: 300px;
  background: #2cd5c4;
  color: white;
}

#green tgr {
  font-weight: 700;
  letter-spacing: 1px;
}
