
.timeline-table {
  width: 100%;
}

.timeline-container table {
  margin: 50px auto 0 auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 50px 0px;
  textarea {
    resize: none;
    width: 100%;
    // was 350px
  }
  .coltimeline {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  color: black;
  width: 10%;
  // was 50px;
  padding: 2px;
    h4 {
      font-size: 18px;
      opacity: 0.4;
    }
  }
  .colcard {
    width: 40%;
    // was 350px;
  }

  .colcomment {
    width: 40%;
    // was 350px;
    .comment-view {
      width: 40%;
      // was 350px;
      background-color: #EEEEEE;
      font-style: italic;
      border-radius: 5px;
      padding: 5px;
    }
    #pin_comment {
      background-color: #EEEEEE;
      border: none;
      font-style: italic;
      padding-top: 20px;
      margin-top: 80px;

    }
    .btn-save-comment {
      visibility: hidden;
      outline: none;
      border: none;
      // background-color: #F5F5F5;
      // text-decoration: underline;
    }
  }


  .btn-save-comment {
  outline: none;
  }

  .colarrow1, .colarrow2 {
    width: 5%;
    // was 125px;
    i {
      font-size: 30px;
    }
  }
}

.export-container {
  width: 800px;
  margin: 100px auto;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border-radius: 5px;
  padding: 20px;
  textarea {
    resize: none;
    background-color: #EEEEEE;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border: none;
  }
  .select2-selection {
    background-color: #EEEEEE;
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }
  .btn-save-comment {
    border: none;
    background-color: #F5F5F5;
    text-decoration: underline;
    margin-left: 550px;
    outline: none;
  }
  .dashboard-comment-view {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
  }
  #dashboard_main_comments {
    height: 200px;
  }
}

.lowerlinks-container {
  margin: 100px auto 0 auto;
  width: 300px;
}

#btn-send {
  outline: none;
}


